body{
    background-image: url("https://post.healthline.com/wp-content/uploads/2020/09/farmer-carrot-carrots-1200x628-facebook.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}  

img{
    display: block;
    height: 230px;
    margin: auto;
} 

#position{
    background-position: center ;
}